.home {
  display: flex;
  flex-direction: column;
}

.home-padding {
  flex-grow: 1;
}

.home-container {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  margin: 5vh;
}

.home-container-child {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100em;
}

.home-headshot {
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
}
