.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.home-padding {
  width: 20%;
  flex-grow: 1;
  flex-shrink: 0;
}

.home-color-fade {
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.8));
}

.home-content {
  background-color: rgba(0,0,0,0.8);
  color: white;
  font-size: 2vmin;
  overflow: scroll;
}

.home-container-web {
  display: flex;
  flex-direction: row;
  margin: 5vh;
}

.home-container-mobile {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.home-container-text {
  text-align: justify;
  text-justify: inter-word;
  margin: 0vh 5vh 0vh 5vh;
}

.home-container-child {
  flex-grow: 1;
}

.home-container-child {
  flex-grow: 1;
  flex-shrink: 1;
}

.home-image {
  width: 100%;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
