.navbar-container-web {
  display: flex;
  flex-direction: row;
  background-color: DarkSlateGrey;
  align-items: center;
  justify-content: center;
}

.navbar-container-mobile {
  display: flex;
  flex-direction: column;
  background-color: DarkSlateGrey;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar-link {
  padding: 10px;
  text-decoration: none;
  color: FloralWhite;
  font-weight: bold;
  font-size: 2.5em;
  height: 100%;
}

.navbar-nav {
  border: 1px solid red;
  flex-direction: column;
  height: 100%;
}
